apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
  namespace: gold-dev
data:
  filebeat.yml: |
    filebeat.inputs:
      - type: container
        enabled: true
        paths:
          - /var/log/containers/*.log
        processors:
          - add_host_metadata: {}
          - add_kubernetes_metadata:
              host: ${NODE_NAME}
          - decode_json_fields:
              fields: ["message"]
              target: ""
              overwrite_keys: true
          - script:
              lang: javascript
              id: level-normalize
              source: >
                function process(event) {
                  if (event.Get("@l") != null) { event.Put("log.level", event.Get("@l")); }
                }
          - script:
              lang: javascript
              id: dataset-map
              source: >
                function process(event) {
                  var mt = event.Get("message_type");
                  if (mt == "SecurityAudit") event.Put("event.dataset", "security");
                  else if (mt == "Integration") event.Put("event.dataset", "integration");
                  else event.Put("event.dataset", "application");
                }
          - add_fields:
              target: ''
              fields:
                app: gold-tracker-api
                env: dev
                region: vn
    output.elasticsearch:
      hosts: ["${ELASTIC_HOSTS:http://192.168.31.156:9200}"]
      username: "${ELASTIC_USER}"
      password: "${ELASTIC_PASS}"
      protocol: "http"
      indices:
        - index: "gold-tracker-api-security-%{+yyyy.MM.dd}"
          when.equals:
            event.dataset: "security"
        - index: "gold-tracker-api-integration-%{+yyyy.MM.dd}"
          when.equals:
            event.dataset: "integration"
        - index: "gold-tracker-api-application-%{+yyyy.MM.dd}"
      bulk_max_size: 2048
      worker: 1
      compression_level: 3

