apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
  namespace: gold-dev
data:
  filebeat.yml: |
    filebeat.inputs:
      - type: container
        id: k8s-containers
        enabled: true
        paths:
          - /var/log/containers/*.log
        fields_under_root: true
        processors:
          - drop_event:
              when:
                contains:
                  message: "v1 Endpoints is deprecated in v1.33+; use discovery.k8s.io/v1 EndpointSlice"
          - add_host_metadata: {}
          - add_kubernetes_metadata:
              host: ${NODE_NAME}
              matchers:
                - logs_path:
                    logs_path: "/var/log/containers/"
          - decode_json_fields:
              fields: ["message"]
              target: ""
              overwrite_keys: true
          - script:
              lang: javascript
              id: level-normalize
              source: >
                function process(event) {
                  if (event.Get("@l") != null) { event.Put("log.level", event.Get("@l")); }
                }
          - script:
              lang: javascript
              id: dataset-map
              source: >
                function process(event) {
                  var mt = event.Get("message_type");
                  if (mt == "SecurityAudit") event.Put("event.dataset", "security");
                  else if (mt == "Integration") event.Put("event.dataset", "integration");
                  else event.Put("event.dataset", "application");
                }
          - add_fields:
              target: ''
              fields:
                app: gold-tracker-api
                env: dev
                region: vn
    output.elasticsearch:
      hosts: ["${ELASTIC_HOSTS:https://192.168.31.156:9200}"]
      username: "${ELASTIC_USER}"
      password: "${ELASTIC_PASS}"
      protocol: "https"
      ssl.verification_mode: none
      indices:
        - index: "gold-tracker-api-security-%{+yyyy.MM.dd}"
          when.equals:
            event.dataset: "security"
        - index: "gold-tracker-api-integration-%{+yyyy.MM.dd}"
          when.equals:
            event.dataset: "integration"
        - index: "gold-tracker-api-application-%{+yyyy.MM.dd}"
          when.equals:
            event.dataset: "application"
      bulk_max_size: 512
      worker: 1
      compression_level: 3
    setup.template.enabled: false
    setup.ilm.enabled: false

