apiVersion: apps/v1
kind: Deployment
metadata:
  name: gold-tracker-api
  labels:
    app: gold-tracker-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gold-tracker-api
  template:
    metadata:
      labels:
        app: gold-tracker-api
    spec:
      containers:
        - name: api
          image: gold-tracker-api:dev
          imagePullPolicy: IfNotPresent
          env:
            - name: ASPNETCORE_URLS
              value: "http://+:8080"
            - name: TZ
              value: "Asia/Ho_Chi_Minh"
            - name: APP_ID
              value: "gold-tracker-api"
            - name: APP_VERSION
              value: "dev"
            - name: ASPNETCORE_ENVIRONMENT
              value: "Development"
          ports:
            - name: http
              containerPort: 8080
          readinessProbe:
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 10
            periodSeconds: 20
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 250m
              memory: 512Mi


