apiVersion: batch/v1
kind: CronJob
metadata:
  name: cron-snapshot-daily
spec:
  schedule: "5 21 * * *"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 2
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: Never
          containers:
            - name: curl
              image: curlimages/curl:8.10.1
              args: ["-sSf","-X","POST","http://gold-tracker-api.gold-dev.svc.cluster.local:8080/admin/snapshot/daily"]

