apiVersion: apps/v1
kind: Deployment
metadata:
  name: gold-tracker-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gold-ui
  template:
    metadata:
      labels:
        app: gold-ui
    spec:
      containers:
        - name: ui
          image: gold-tracker-ui:dev
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 3000
          env:
            - name: NEXT_PUBLIC_API_BASE_URL
              value: "http://gold-tracker-api:8080"
            - name: NODE_ENV
              value: "production"
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 3
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 3


