apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: gold-api
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
spec:
  ingressClassName: nginx
  rules:
    - host: gold.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: gold-tracker-api
                port: { number: 8080 }

